<tr>
    <td class="<%= 'highlight' if @sort_column == 'title' %>"><%=movie.title %></td>
    <td class="<%= 'highlight' if @sort_column == 'rating' %>"><%=movie.rating%></td>
    <td class="<%= 'highlight' if @sort_column == 'release_date' %>"><%=movie.release_date%></td>
</tr>
